.text-decoration-none:hover {
    text-decoration: none;
}

.fileinput-remove, .fileinput-upload{
	display: none;
}

ul>li>a.active {
    color: black !important;
}

#check1_result, #check2_result {
    display: none;
}

#spinner_check0, #spinner_check1, #spinner_check2, #spinner_save1, #spinner_save2, #spinner_export1, #spinner_export2 {
    display: none;
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    font-size: 18px; /* Increase font size */
}