.text-decoration-none:hover {
    text-decoration: none;
}

.fileinput-remove, .fileinput-upload{
	display: none;
}

ul>li>a.active {
    color: black !important;
}

#check1_result, #check2_result {
    display: none;
}