<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similarity Checker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/fileinput.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/font-awesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- script -->
    <div>
        <script src="{{ url_for('static', filename='bootstrap/js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/popper.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/font-awesome/js/all.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/fileinput.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/pdfmake.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/html2canvas.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/additional.js') }}"></script>
        <script src="{{ url_for('static', filename='js/additional_ajax.js') }}"></script>
    </div>
    
    <!-- Header -->
    <div class="container-fluid">
        <div class="row p-4 bg-dark text-white">
        <div class="col">
            <h1><a href="" class="text-white text-decoration-none">Similarity Checker</a></h1>        
        </div>
        <div class="col ml-5 mt-auto mb-auto">
            {% if g.user %}
                <div class="float-right">
                    <span class="mr-3">Hi, {{ g.user['name'] }}</span>
                    <a href="/auth/logout">
                        <button type="button" class="btn btn-outline-light">Log Out</button>
                    </a>
                </div>
            {% else %}
                <div class="float-right">
                    <button type="button" class="btn btn-outline-light mr-3" data-toggle="modal" data-target="#modalLogin">Log In</button>
                    <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modalRegister">Register</button>
                </div>
            {% endif %}
        </div>
        </div>
    </div>
    
    {% if g.user %}
    {% else %}
        <!-- Log In Modal -->
        <div class="modal" id="modalLogin">
            <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                <h4 class="modal-title">Log In</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form class="form-group" id="loginForm">                
                    <div class="modal-body">
                        <label for="emailLogin">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email" name="emailLogin" id="emailLogin" required>

                        <label for="passwordLogin" class="mt-4">Password</label>
                        <input type="password" class="form-control" placeholder="Enter password" name="passwordLogin" id="passwordLogin" required>

                        <div class="mt-3" id="errorLogin"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light" id="loginButton">Log In</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
                
            </div>
            </div>
        </div>
        
        <!-- Register Modal -->
        <div class="modal" id="modalRegister">
            <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form class="form-group" id="registerForm">
                    <div class="modal-body">
                        <label for="nameRegister">Name</label>
                        <input type="text" class="form-control" placeholder="Enter name" name="nameRegister" id="nameRegister" required>

                        <label for="emailRegister" class="mt-4">Email</label>
                        <input type="email" class="form-control" placeholder="Enter email" name="emailRegister" id="emailRegister" required>

                        <label for="passwordRegister" class="mt-4">Password</label>
                        <input type="password" class="form-control" placeholder="Enter password" name="passwordRegister" id="passwordRegister" required>

                        <label for="passwordConfirmation" class="mt-4">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm password" name="passwordConfirmation" id="passwordConfirmation" required>

                        <div class="mt-3" id="errorRegister"></div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-light" id="registerButton">Register</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

            </div>
            </div>
        </div>
    {% endif %}

    <!-- Tabbed Menu -->
    <ul class="nav nav-tabs pl-4 pr-4 bg-dark" role="tablist">
        <li class="nav-item mr-2">
            <a class="nav-link text-white active" data-toggle="tab" href="#menu1">Check Similarity Between Documents</a>
        </li>
        <li class="nav-item mr-2">
            <a class="nav-link text-white" data-toggle="tab" href="#menu2">Check Similarity With Database</a>
        </li>
        <li class="nav-item" style="cursor: pointer !important;">
            {% if g.user %}
                <a class="nav-link text-white" data-toggle="tab" href="#history" id="history_tab">History</a>
            {% else %}
                <a class="nav-link text-white" data-toggle="modal" data-target="#modalNotLoggedIn">History</a>
            {% endif %}
        </li>
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content pl-4 pr-4">
        <!-- menu 1 -->
        <div id="menu1" class="container-fluid tab-pane active"><br>
            <!-- Check similarity between docum -->
            <div>
                <div class="row">
                    <div class="col">
                        <h3 class="mb-3" style="display: inline-block;">Check Similarity Between Documents</h3>
                    </div>
                </div>
                <div class="row">
                    <!-- Div for document to be checked -->
                    <div class="col">
                        <form method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input id="check0_files" name="check0_files" type="file" multiple data-overwrite-initial="false">
                            </div>
                        </form>
                    </div>
                    <!-- Div for dataset -->
                    <div class="col">
                        <form method="POST" enctype="multipart/form-data" id="check1">
                            <div class="form-group">
                                <input id="check1_files" name="check1_files" type="file" multiple data-overwrite-initial="false">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!-- Button for document to be checked -->
                    <div class="col mb-1">
                        <div class="float-right">
                            <button class="btn btn-success" id="check0_files_upload">
                                <span class="fa fa-upload mr-1"></span>
                                <span class="text-white">Upload All</span>
                            </button>
                            <button class="btn btn-dark" id="check0_files_remove">
                                <span class="fa fa-times-circle mr-1"></span>
                                <span class="text-white">Remove All</span>
                            </button>
                        </div>
                    </div>
                    <!-- Button for dataset -->
                    <div class="col mb-1">
                        <div class="float-right">
                            <span id="err_training" class="mr-3" id="err_training"></span>
                            <button class="btn btn-primary" id="check1_files_train">
                                <span class="fa fa-spinner fa-pulse fa-fw" id="spinner_check0"></span>
                                <span class="fa fa-clone mr-1"></span>
                                <span class="text-white">Train Document</span>
                            </button>
                            <button class="btn btn-success" id="check1_files_upload">
                                <span class="fa fa-upload mr-1"></span>
                                <span class="text-white">Upload All</span>
                            </button>
                            <button class="btn btn-dark" id="check1_files_remove">
                                <span class="fa fa-times-circle mr-1"></span>
                                <span class="text-white">Remove All</span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h4>Note:</h4>
                        <ul>
                            <li>File must be in proper <span class="fa fa-file-word"></span> .docx format</li>
                            <li>Max filesize to be uploaded is 1 mb</li>
                            <li>Minimum files to make a dataset is 2</li>
                            <li>Please press Train Document first and wait until the training is done before checking similarity</li>
                            <li>You can upload files, either with <span class="fa fa-upload"></span> button or upload all button</li>
                            <li>The more files you upload, the longer it takes to detect</li>
                            <li>Make sure to upload all the files before checking</li>
                            <li>The similarity might contain duplicate result due to different float result that happen in backend. The result are shown are rounded to make it easy to read</li>
                        </ul>
                        <button class="btn btn-primary btn-block mt-3" id="check1_btn"><span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_check1"></span>Check Similarity</button>
                        <div id="errorCheck1" class="mt-1"></div>
                    </div>
                </div>
            </div>
            
            <!-- Result -->
            {% if session.get('check1') != None %}
                <div id="check1_result" style="display: block !important;">
                    <h3 class="mt-5 mb-3">Result</h3>
                    <div class="row">
                        <div class="col">
                            <table class="table table-hover" id="check1_table">
                                {{ session.get('check1')['header']|safe }}
                                <tbody id="check1_tbody">
                                    {{ session.get('check1')['data']|safe }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="float-right">
                                <button class="btn btn-success" id="export1_btn">
                                    <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_export1"></span>
                                    <span class="fa fa-file-download mr-1"></span>
                                    <span>Export as PDF</span>
                                </button>
                                {% if g.user %}
                                    <button class="btn btn-primary" id="save1_btn">
                                        <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_save1"></span>
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNotLoggedIn">
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="check1_result">
                    <h3 class="mt-5 mb-3">Result</h3>
                    <div class="row">
                        <div class="col">
                            <table class="table table-hover" id="check1_table">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">
                                            <span>Suspect Document</span>
                                        </th>
                                        <th class="text-center">
                                            <span>Document Name</span>
                                        </th>
                                        <th class="text-center">
                                            <span>Percentage</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="check1_tbody"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="float-right">
                                <button class="btn btn-success" id="export1_btn">
                                    <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_export1"></span>
                                    <span class="fa fa-file-download mr-1"></span>
                                    <span>Export as PDF</span>
                                </button>
                                {% if g.user %}
                                    <button class="btn btn-primary" id="save1_btn">
                                        <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_save1"></span>
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNotLoggedIn">
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- menu 2 -->
        <div id="menu2" class="container-fluid tab-pane fade"><br>
            <!-- Check similarity with database -->
            <div>
                <div class="row">
                    <div class="col">
                        <h3 class="mb-3" style="display: inline-block;">Check Similarity With Database</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <form method="POST" enctype="multipart/form-data" id="check2">
                            <div class="form-group">
                                <input id="check2_files" name="check2_files" type="file" multiple data-overwrite-initial="false">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <div class="float-right">
                            <button class="btn btn-success" id="check2_files_upload">
                                <span class="fa fa-upload mr-1"></span>
                                <span class="text-white">Upload All</span>
                            </button>
                            <button class="btn btn-dark" id="check2_files_remove">
                                <span class="fa fa-times-circle mr-1"></span>
                                <span class="text-white">Remove All</span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <h4>Note:</h4>
                        <ul>
                            <li>File must be in proper <span class="fa fa-file-word"></span> .docx format</li>
                            <li>Maximum file size to be uploaded is 1 mb</li>
                            <li>Minimum file to be check is 1</li>
                            <li>You can upload files, either with <span class="fa fa-upload"></span> button or upload all button</li>
                            <li>The more files you upload, the longer it takes to detect</li>
                            <li>Make sure to upload all the files before checking</li>
                            <li>The similarity might contain duplicate result due to different float result that happen in backend. The result are shown are rounded to make it easy to read</li>
                        </ul>
                        <button class="btn btn-primary btn-block mt-3" id="check2_btn"><span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_check2"></span>Check Similarity</button>
                        <div id="errorCheck2" class="mt-1"></div>
                    </div>
                </div>
            </div>
            
            <!-- Result -->
            {% if session.get('check2') != None %}
                <div id="check2_result" style="display: block !important;">
                    <h3 class="mt-5 mb-3">Result</h3>
                    <div class="row">
                        <div class="col">
                            <table class="table table-hover" id="check2_table">
                                {{ session.get('check2')['header']|safe }}
                                <tbody id="check2_tbody">
                                    {{ session.get('check2')['data']|safe }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="float-right">
                                <button class="btn btn-success" id="export2_btn">
                                    <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_export2"></span>
                                    <span class="fa fa-file-download mr-1"></span>
                                    <span>Export as PDF</span>
                                </button>
                                {% if g.user %}
                                    <button class="btn btn-primary" id="save2_btn">
                                        <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_save2"></span>
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNotLoggedIn">
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="check2_result">
                    <h3 class="mt-3 mb-3">Result</h3>
                    <div class="row">
                        <div class="col">
                            <table class="table table-hover" id="check2_table">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="text-center">
                                            <span>Suspect Document</span>
                                        </th>
                                        <th class="text-center">
                                            <span>Source Document</span>
                                        </th>
                                        <th class="text-center">
                                            <span>Percentage</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="check2_tbody"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="float-right">
                                <button class="btn btn-success" id="export2_btn">
                                    <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_export2"></span>
                                    <span class="fa fa-file-download mr-1"></span>
                                    <span>Export as PDF</span>
                                </button>
                                {% if g.user %}
                                    <button class="btn btn-primary" id="save2_btn">
                                        <span class="fa fa-spinner fa-pulse fa-fw mr-2" id="spinner_save2"></span>
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% else %}
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalNotLoggedIn">
                                        <span class="fa fa-history mr-1"></span>
                                        <span>Save to History</span>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- history -->
        <div id="history" class="container-fluid tab-pane fade"><br>
            <h3>History</h3>
            <br>
            <div class="text-center" id="history_spinner">
                <div class="row">
                    <div class="col">
                        <i <span class="fa fa-spinner fa-pulse fa-3x fa-fw mb-3"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="m-auto">
                            <h4>Please Wait</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- History table -->
            <div id="history_sect"></div>
            <h3 id="err_hist"></h3>
        </div>
    </div>

    {% if g.user %}
    {% else %}
        <!-- Modal not logged in -->
        <div class="modal" id="modalNotLoggedIn">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Oops!!</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <div class="modal-body">
                        To use this feature, you have to log in first
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endif %}

    <br>
    <br>
    <br>
    
    <a href="https://forms.gle/AgfoUYXuwNTNX7yH8/" target="_blank">
        <button type="button" class="btn bg-dark text-white" id="myBtn">
            <span class="fa fa-comment mr-2"></span>
            <span>Please fill my questionnaire about your experience</span>
        </button>
    </a>
</body>    
</html>